:root {
    --black-color: #111827;
    --white-color: #fff;
    --text-color: #57585A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.check {
    padding: 3px 3.5px;
    border-radius: 50%;
    background-color: #111827;
    color: var(--white-color);
    font-size: 1.2rem;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}